langchain
langgraph
langchain-community
langchain-groq

pymongo
python-dotenv

pypdf
chromadb
sentence-transformers

fastapi
uvicorn

streamlit

pydantic

reportlab

duckduckgo-search
langchain_chroma
langchain-huggingface
langchain_ollama

langchain_classic
langchain_google_genai
ipykernel
faiss-cpu
fastapi
uvicorn

pytest 
pytest-mock 
pytest-cov 
pytest-benchmark